.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.ipynb_checkpoints/

part1_airflow/logs/
part1_airflow/scheduler/
*.log

.dvc/cache/

part2_dvc/data/*
!part2_dvc/data/.gitkeep

part2_dvc/models/*
!part2_dvc/models/.gitkeep

part2_dvc/cv_results/*
!part2_dvc/cv_results/.gitkeep

part2_dvc/mlruns/

.DS_Store
Thumbs.db

part1_airflow/airflow.cfg
part1_airflow/airflow.db
part1_airflow/webserver_config.py
part1_airflow/standalone_admin_password.txt
